<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add   key= "ZipCode"   value= "38"   />
    <add key="EyeseeFromSourceID" value="C53C8468-BB2F-46AD-9D39-0486D450D8AD"/>
    <add key="BaishopFromSourceID" value="444E0C93-1146-4386-BAE2-CB352DA70499"/>
    <add key="KeedeFromSourceID" value="7AE62AF0-EB1F-49C6-8FD1-128D77C84698"/>
    <add key="ERPFromSourceID" value="06B30857-82F5-45F5-8768-79BD4211806C"/>
    <add key="KDAmazonSalePlatformId" value="62287564-3FAE-4203-8338-17296C498C6E"/>
    <add key="ERP_StockCenter_WaitPushDBName" value="custom"/>
    <!--是否允许重复打包扫描-->
    <add key="IsAllowRepeatScan" value="True"/>
    <!--配货中数量-->
    <add key="StockUpQuantity" value="300"/>
    <!--需调拨数量-->
    <add key="RedeployQuantity" value="200"/>
    <!--快递模版资源服务器地址 正式-->
    <add key="ResourceExpressTemplate" value="http://picerp.keede.com/ExpressTemplate/"/>
    <!--快递模版资源服务器地址 正式(顺丰)-->
    <add key="ResourceExpressTemplateSF" value="http://picerp.keede.com/ExpressTemplateSF/"/>

    <!--WMS Service Api接口-->
    <!--<add key="ApiUrl" value="http://192.168.117.39:3005/api/"/>-->
    <!--<add key="ApiUrl" value="http://apiwms.kede.com/api/"/>-->

    <add key="ApiUrl" value="http://localhost:1265/api/"/>

    <add key="StorageType" value="2"/>
    <add key="GroupNum" value="5"/>
    <add key="KJGroupNum" value="10"/>

  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--服务-->
  <system.serviceModel>
    <client>

      <!--HRS-->
      <endpoint address="net.tcp://192.168.117.146:5002/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WCF.Contract.IService" name="hrsEndpoint"/>
      <!--MIS-->
      <endpoint address="net.tcp://192.168.117.39:5000/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS"/>

      <!--<endpoint address="net.tcp://180.153.140.140:5100/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS"/>-->
    </client>
    <behaviors>
      <endpointBehaviors>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="keedeTcpBind" transactionFlow="true" sendTimeout="00:15:00" maxReceivedMessageSize="20000001" maxBufferSize="20000001" maxConnections="10">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="MsmgBinding" exactlyOnce="false" maxReceivedMessageSize=" 2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
          <security mode="None">
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>
